body {
    margin: 0;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#main {
    display: flex;
    flex: 1;
    min-height: 0;
}

#map {
    width: 100%;
    height: 100%;
    min-height: 0;
}

#sidebar {
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    height: 100%;
    min-height: 0;
    max-width: 40%;
}

#toggle-sidebar {
  width:100%;       
  background: #fff;
  border: 1px solid #ccc;

  border-radius: 6px;
  padding: 8px;

  cursor: pointer;
}

#sidebar.minimized {
  width: 36px;
}

#date {
    display: inline-block;
    padding: 8px;
}

#info-panel {
    border-top: 1px solid #ddd;
    background: #fafafa;
    padding: 16px;
}

.available {
    color: green;
    font-weight: bold;
}

.unavailable {
    color: red;
    font-weight: bold;
}

.unknown {
    color: gray;
    font-style: italic;
    font-weight: bold;
}